img {
	border: 1px solid;
	left: 5%;
	right: 5%;
	position: relative;
	width: 30%;
	height: 250px;
	margin-top: 5%;
}

@media (min-width: 1024px){
	body {
		background-color: blue;
	}	
}

@media (min-width: 667px) and (max-width: 1024px){
	body {
		background-color: red;
	}
	img {
		left: 4%;
		right: 5%;
		position: relative;
	}
}

@media (min-width: 376px) and (max-width: 667px){
	body {
		background-color: yellow;
	}
	img {
		width: 30%;
		height: 150px;
		left: 4%;
		position: relative;
	}
}

@media (max-width: 375px) {
	body {
		background-color: green;
	}
	img {
		width: 30%;
		height: 100px;
		left: 3%;
		position: relative;
	}
}